html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-family: 'Fredericka the Great', cursive;
  color: rgb(55, 42, 14);
  padding: 0.2em;
}

body {
  background: rgb(227, 99, 99);
}

.gameBoard {
  border: 3px solid black;
  height: 400px;
  width: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.15em;
  background-color: black;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 2em;
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
  background-color: rgb(153, 75, 39);
  color: rgb(229, 92, 92);
  cursor: pointer;
}

.playersTurn {
  display: flex;
  justify-content: center;
  font-family: 'Fredericka the Great', cursive;
  font-weight: bold;
  color: darkred;
  font-size: 2rem;
  padding: 1em;
}

button {
  display: flex;
  margin: auto;
  padding: 1.25em 3.5em;
  border-radius: 2em;
  border: none;
  background-color: red;
  font-weight: bold;
  font-family: 'Fredericka the Great', cursive;
}
